/* Установка 100% высоты для html и body */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Helvetica Rounded', 'Arial', 'sans-serif'; /* Шрифт для всего документа */
}

/* Контейнер Flexbox */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Высота контейнера равна высоте окна */
}

/* Стиль для header */
header {
    background-color: #FFFFFF;
    height: 5%; /* Высота хедера */
    display: flex;
    align-items: center;
    padding: 1%;
    border-bottom: 1px solid #dcdcdc; /* Граница снизу */
}

body.dark-mode #additional-info {
    border: 1px solid #dcdcdc; /* Цвет границы для дополнительной информации в темном режиме */
    # color: #000000; /* Цвет текста черный при переходе на темный режим */
    background-color: #282828;
}

body.dark-mode header {
    background-color: #0d0b0e; /* Цвет фона хедера в темном режиме */
    color: #FFFFFF;
    border-bottom: 1px solid grey;
}

body.dark-mode header nav a {
    color: #FFFFFF; /* Цвет текста для ссылок в темном режиме */
}

/* Обычные стили для меню иконки */
.menu-icon {
    transition: filter 0.1s; /* Добавьте плавный переход для фильтра */
}

/* Стили для темного режима */
body.dark-mode .menu-icon {
    filter: brightness(0) invert(1); /* Изменяет цвет изображения на белый */
}

body.dark-mode header .dropdown-menu a {
    color: #FFFFFF; /* Цвет текста для ссылок в выпадающем меню */
}

/* Цвет фона для выпадающего меню в темном режиме */
body.dark-mode header .dropdown-menu {
    background-color: #2E3440; /* Цвет фона для выпадающего меню */
}

/* Изменение цвета текста для theme-mode-label в темном режиме */
body.dark-mode .theme-mode-label {
    color: #FFFFFF; /* Цвет текста на белый */
}

body.dark-mode .menu-item:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Полупрозрачный белый фон при наведении */
    color: #FFFFFF; /* Цвет текста, если нужно */
    /* Добавьте другие свойства, если необходимо, например, тени */
}

body.dark-mode .menu-item.support:hover {
    background-color: transparent !important; /* Прозрачный фон для кнопок */
    outline: none; /* Убираем обводку для кнопок */
    box-shadow: none; /* Убираем тень для кнопок */
}

/* Изменение цвета изображений в темном режиме */
body.dark-mode .menu-item img {
    filter: brightness(0) invert(1); /* Применение фильтров для изменения цвета на белый */
}

body.dark-mode aside {
    background-color: #0d0b0e; /* Цвет фона для темного режима */
    color: #FFFFFF; /* Цвет текста для темного режима */
    # border-right: 1px solid grey;
    # border: 0px;
}

body.dark-mode section {
    # background-color: #545151; /* Цвет фона для темного режима */
    background-color: #0d0b0e;
    color: #FFFFFF; /* Цвет текста для темного режима */
}

body.dark-mode footer {
    background-color: #0d0b0e; /* Цвет фона для темного режима */
    color: #FFFFFF; /* Цвет текста для темного режима */
    border-top: 1px solid grey;
}

/* Стиль для графика в темном режиме */
body.dark-mode #chart {
    background-color: #0d0b0e; /* Темный фон */
    border: 1px solid #FFFFFF; /* Более темная граница */
    color: #FFFFFF; /* Белый текст */
}

/* Оси и текстовые метки для графика */
body.dark-mode .axis line,
body.dark-mode .axis path {
    stroke: #FFFFFF; /* Белые линии для осей */
}

body.dark-mode .axis text {
    fill: #FFFFFF; /* Белые метки осей */
}

/* Линия графика */
body.dark-mode .line {
    stroke: #00FF7F; /* Изменение цвета линии в темном режиме */
}

/* Стили для сетки графика в темном режиме */
body.dark-mode .grid line {
    stroke: #FFFFFF; /* Белый цвет линий сетки */
    stroke-width: 1px; /* Толщина линий сетки */
    shape-rendering: crispEdges; /* Четкие края для линий */
}

/* Настройка сетки для квадратов */
.grid {
    stroke-dasharray: none; /* Убираем пунктирные линии */
}


.header-module-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Логотип */
.logo {
    width: 15%;
    font-size: 24px;
    font-weight: bold;
}

/* Меню навигации */
.nav {
    width: 60%;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

.nav li {
    margin: 0 10px;
}

.nav a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

/* Элементы управления */
.user-controls {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.login-btn, .signup-btn {
    margin-left: 15px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

.login-btn {
    background-color: #f0f0f0;
}

.signup-btn {
    background-color: #17B169;
    color: #fff;
    margin-right: 20px; /* Отступ справа от кнопки */
    border-radius: 7px;
}

.menu-icon {
    width: 30px; /* Ширина изображения */
    height: auto; /* Автоматическая высота */
    cursor: pointer; /* Курсор для кликабельности */
}

/* Hidden class for dropdown menu */
.hidden {
    display: none;
}

/* Dropdown menu styles */
.dropdown-menu {
    position: absolute;
    margin-top: 1%;
    margin-right: 0.5%;
    top: 45px;
    right: 10px;
    width: 10%;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid grey;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    padding: 15px;
}

/* Dropdown menu items */
.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
}

.menu-item-theme-mode {
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
}

.menu-item img {
    width: 20px;
    height: 20px;
    margin-right: 7%;
    margin-left: 10%;
}

.menu-item:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

/* Menu header */
.menu-header {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Центрирование кнопки поддержки */
.menu-item.support {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали (если нужно) */
    height: 100%; /* Устанавливаем высоту, если нужно центрировать по вертикали */
    background-color: transparent !important; /* Прозрачный фон для кнопок */
}

/* Support button */
.menu-item.support button {
    background-color: #8b5cf6;
    width: 70%;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.menu-item.support button:hover {
    background-color: #7c3aed;
}

/* Стили для переключателя */
.switch {
    position: relative;
    display: inline-block;
    width: 60px; /* Увеличиваем ширину */
    height: 34px; /* Увеличиваем высоту */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.theme-mode-label {
    font-size: 16px;
    font-weight: 500;
    color: #333; /* Цвет текста */
    margin-right: 20px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Цвет фона выключенного состояния */
    border-radius: 34px; /* Закругленные края */
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px; /* Высота ползунка */
    width: 26px; /* Ширина ползунка */
    left: 4px; /* Отступ от левого края */
    bottom: 4px; /* Отступ от нижнего края */
    background-color: white; /* Цвет фона ползунка */
    border-radius: 50%; /* Круглая форма ползунка */
    transition: .4s;
}

/* Иконки */
.icon {
    position: absolute;
    width: 26px; /* Ширина иконок */
    height: 26px; /* Высота иконок */
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon.sun {
    left: 1px; /* Положение иконки солнца */
    bottom: 4px; /* Центрирование по вертикали */
}

.icon.moon {
    right: 3px; /* Положение иконки луны */
    bottom: 4px; /* Центрирование по вертикали */
}

/* Эффект переключения */
input:checked + .slider {
    background-color: #2196F3; /* Цвет фона включенного состояния */
}

input:checked + .slider:before {
    transform: translateX(26px); /* Перемещение ползунка вправо */
}

/* Скрытие иконок при переключении */
input:checked + .slider .icon.sun {
    display: none; /* Скрыть солнце при включенном режиме */
}

input:checked + .slider .icon.moon {
    display: flex; /* Показать луну при включенном режиме */
}

input:not(:checked) + .slider .icon.sun {
    display: flex; /* Показать солнце при выключенном режиме */
}

input:not(:checked) + .slider .icon.moon {
    display: none; /* Скрыть луну при выключенном режиме */
}


/* Main динамически занимает оставшееся пространство */
main {
    flex-grow: 1;  /* Заставляем main занимать всё доступное пространство */
    display: flex;
}

/* aside и section растягиваются на всю высоту */
aside {
    width: 20%;
    background-color: #FFFFFF;
    # border-right: 0.1px solid #dcdcdc; /* Тонкая граница справа */
    padding: 20px;
    display: flex;
    flex-direction: column; /* Вертикальное расположение */
}

section {
    width: 80%;
    background-color: #FFFFFF;
    padding: 5px; /* Отступы для содержимого */
    display: flex;
    flex-direction: column; /* Вертикальное расположение */
}

#additional-info {
    margin-top: 5px; /* Отступ сверху */
    padding: 10px; /* Отступы внутри div */
    background-color: #FFFFFF; /* Цвет фона */
    border: 1px solid #dcdcdc; /* Граница */
    border-radius: 5px; /* Закругленные углы */
    text-align: center; /* Центрируем текст */
    #height: 40px;
}

/* Футер фиксированной высоты */
footer {
    background-color: #FFFFFF;
    height: 20%; /* Футер занимает 20% высоты контейнера */
    text-align: center; /* Центрируем текст футера */
    padding: 10px; /* Отступы для футера */
    border-top: 1px solid #dcdcdc;
}

/* Индикатор загрузки */
#loading {
    display: none; /* Скрываем индикатор по умолчанию */
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

/* Додаємо стилі для canvas */
#chart {
    border: 2px solid #D0D0D0; /* Додаємо синій контур */
    border-radius: 15px; /* Заокруглення кутів */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легке тінювання */
    padding: 10px; /* Відступ всередині */
    background-color: #fff; /* Задаємо білий фон для канваса */
}

/* Оформление осей графика */
.axis line,
.axis path {
    fill: none;
    shape-rendering: crispEdges; /* Четкое отображение линий */
}

.line {
    fill: none;
    stroke: steelblue; /* Цвет линии */
    stroke-width: 2; /* Ширина линии */
}
