/* Установка 100% высоты для html и body */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Helvetica Rounded', 'Arial', 'sans-serif'; /* Шрифт для всего документа */
}

/* Контейнер Flexbox */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Высота контейнера равна высоте окна */
}

/* Стиль для header */
header {
    background-color: #FFFFFF;
    height: 5%; /* Высота хедера */
    display: flex;
    align-items: center;
    padding: 1%;
    #border-bottom: 1px solid #dcdcdc; /* Граница снизу */
}

/* Футер фиксированной высоты */
footer {
    background-color: #FFFFFF;
    height: 20%; /* Футер занимает 20% высоты контейнера */
    text-align: center; /* Центрируем текст футера */
    padding: 10px; /* Отступы для футера */
    #border-top: 1px solid #dcdcdc;
}

body.dark-mode #additional-info {
    border: 1px solid #444; /* Цвет границы для дополнительной информации в темном режиме */
    # color: #000000; /* Цвет текста черный при переходе на темный режим */
    background-color: #1e1f35;
}

body.dark-mode header {
    background-color: #0f1021; /* Цвет фона хедера в темном режиме #0d0b0e */
    color: #FFFFFF;
    #border-bottom: 1px solid #444;
}

body.dark-mode footer {
    background-color: #0f1021; /* Цвет фона для темного режима */
    color: #FFFFFF; /* Цвет текста для темного режима */
    #border-top: 1px solid #444;
}

body.dark-mode header nav a {
    color: #FFFFFF; /* Цвет текста для ссылок в темном режиме */
}

/* Обычные стили для меню иконки */
.menu-icon {
    transition: filter 0.1s; /* Добавьте плавный переход для фильтра */
}

/* Стили для темного режима */
body.dark-mode .menu-icon {
    filter: brightness(0) invert(1); /* Изменяет цвет изображения на белый */
}

body.dark-mode .dropdown-menu {
    border: 1px solid #444;
}

body.dark-mode header .dropdown-menu a {
    color: #FFFFFF; /* Цвет текста для ссылок в выпадающем меню */
}

/* Цвет фона для выпадающего меню в темном режиме */
body.dark-mode header .dropdown-menu {
    background-color: #2E3440; /* Цвет фона для выпадающего меню */
}

/* Изменение цвета текста для theme-mode-label в темном режиме */
body.dark-mode .theme-mode-label {
    color: #FFFFFF; /* Цвет текста на белый */
}

body.dark-mode .menu-item:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Полупрозрачный белый фон при наведении */
    color: #FFFFFF; /* Цвет текста, если нужно */
    /* Добавьте другие свойства, если необходимо, например, тени */
}

body.dark-mode .menu-item.support:hover {
    background-color: transparent !important; /* Прозрачный фон для кнопок */
    outline: none; /* Убираем обводку для кнопок */
    box-shadow: none; /* Убираем тень для кнопок */
}

/* Изменение цвета изображений в темном режиме */
body.dark-mode .menu-item img {
    filter: brightness(0) invert(1); /* Применение фильтров для изменения цвета на белый */
}

body.dark-mode aside {
    background-color: #0f1021; /* Цвет фона для темного режима */
    color: #FFFFFF; /* Цвет текста для темного режима */
    # border-right: 1px solid grey;
    # border: 0px;
}

body.dark-mode section {
    # background-color: #545151; /* Цвет фона для темного режима */
    background-color: #0f1021;
    color: #FFFFFF; /* Цвет текста для темного режима */
}

/* Стиль для графика в темном режиме */
body.dark-mode #chart {
    background-color: #1e1f35; /* Темный фон */
    border: 1px solid #444; /* Более темная граница */
    color: #FFFFFF; /* Белый текст */
}

/* Оси и текстовые метки для графика */
body.dark-mode .axis line,
body.dark-mode .axis path {
    stroke: #FFFFFF; /* Белые линии для осей */
}

body.dark-mode .axis text {
    fill: #FFFFFF; /* Белые метки осей */
}

/* Линия графика */
body.dark-mode .line {
    stroke: #00FF7F; /* Изменение цвета линии в темном режиме */
}

/* Стили для сетки графика в темном режиме */
body.dark-mode .grid line {
    stroke: #FFFFFF; /* Белый цвет линий сетки */
    stroke-width: 1px; /* Толщина линий сетки */
    shape-rendering: crispEdges; /* Четкие края для линий */
}

body.dark-mode .open-modal-btn {
    background-color: #1e1f35; /* Темный фон кнопки */
    color: #FFFFFF; /* Белый текст */
    border: 1px solid #444; /* Граница кнопки */
}

body.dark-mode .open-modal-btn:hover {
    background-color: #3B4252; /* Чуть светлее при наведении */
}

body.dark-mode #modal-form {
    background-color: #2E3440; /* Тёмный фон */
    border: 1px solid #4C566A;
    color: #ECEFF4; /* Светлый текст */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode .h2-modal-form-block {
    background-color: #2E3440;
    border-bottom: 0.1px solid #4C566A;
}

body.dark-mode .content-modal-form-block {
    background-color: #2E3440;
    color: #ECEFF4;
}

body.dark-mode .crypto-item {
    background-color: #2E3440;
    color: #ECEFF4;
}

body.dark-mode .crypto-item:hover {
    background-color: #3B4252;
}

body.dark-mode .close-btn {
    background-color: #2E3440;
    color: #ECEFF4;
}

body.dark-mode #modal-overlay {
    background-color: rgba(0, 0, 0, 0.7); /* Затемнённый фон */
}

body.dark-mode #calendar {
    background-color: #8b5cf6; /* Тёмный фон */
    #color: #1e1f35; /* Светлый текст */
    color: #FFFFFF;
    border: 1px solid #4C566A; /* Тёмная рамка */
    border-radius: 5px;
}

body.dark-mode #calendar::placeholder {
    #color: #1e1f35; /* Светлый цвет для placeholder */
    color: #FFFFFF;
}

body.dark-mode #calendar:focus {
    outline: none;
    border-color: #81A1C1; /* Цвет рамки при фокусе */
    box-shadow: 0 0 5px rgba(129, 161, 193, 0.5);
}

/* Стили для кнопки в темной теме */
body.dark-mode #additional-info-button-apply {
    #color: #1e1f35; /* Светлый текст для кнопки */
    color: #FFFFFF;
    border: 1px solid #444; /* Тонкая рамка для кнопки */
}

/* Индикатор загрузки */
#loading {
    display: none; /* Скрываем индикатор по умолчанию */
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    position: absolute; /* Позиционирование относительно ближайшего родителя */
    top: 40%; /* Расположение по вертикали (по центру) */
    left: 60%; /* Расположение по горизонтали (по центру) */
    transform: translate(-50%, -50%); /* Сдвигаем элемент на 50% от своей ширины и высоты */
    width: 100px; /* Задаем ширину контейнера, чтобы корректно центрировать изображение */
    height: 100px; /* Задаем высоту контейнера */
}

/* Позиционирование для изображения */
#loading img {
    width: 100px;  /* Ширина изображения */
    height: 100px; /* Высота изображения */
}


/* Стили для светлой темы */
body.light-mode #loading-svg {
    background: rgb(255, 255, 255); /* Белый фон */
}

body.light-mode #loading-svg circle {
    stroke: #ede7e8; /* Светлый цвет обводки */
}

/* Стили для темной темы */
body.dark-mode #loading-svg {
    background: transparent; /* Прозрачный фон для темной темы */
}

body.dark-mode #loading-svg circle {
    stroke: #ECEFF4; /* Светлая обводка для темной темы */
}

/* Dark Mode для таблицы и сопутствующих элементов */
.dark-mode #table-wrapper {
    padding: 0 5px;
    background-color: #0f1021;
}

.dark-mode #table-container {
    width: 100%;
}

/* Основной стиль для таблицы в тёмном режиме */
.dark-mode .events-table {
    width: 100%;
    border-collapse: collapse;
    margin: 5px 0;
    font-family: Arial, sans-serif;
    background-color: #18192c;  /* Тёмный фон таблицы */
    color: #ddd;                /* Светлый текст */
}

.dark-mode .events-table th,
.dark-mode .events-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #444;     /* Тёмные границы */
}

.dark-mode .events-table th {
    background-color: #1e1f35;     /* Темный фон заголовков */
    color: #fff;                /* Белый текст в заголовках */
    font-weight: bold;
}

.dark-mode .events-table tr:nth-child(even) {
    background-color: #1e1f35;  /* Чередование строк */
}

.dark-mode .events-table tr:hover {
    background-color: #3B4252;  /* При наведении */
}

.dark-mode .events-table td a {
    color: #66bfff;             /* Светло-синий цвет ссылок */
    text-decoration: none;
}

.dark-mode .events-table td a:hover {
    text-decoration: underline;
}

/* Ширина колонок остаётся такой же, как в базовом стиле */
.dark-mode .events-table th:nth-child(1),
.dark-mode .events-table td:nth-child(1) {
    width: 5%;
}

.dark-mode .events-table th:nth-child(2),
.dark-mode .events-table td:nth-child(2) {
    width: 55%;
}

.dark-mode .events-table th:nth-child(3),
.dark-mode .events-table td:nth-child(3) {
    width: 15%;
}

.dark-mode .events-table th:nth-child(4),
.dark-mode .events-table td:nth-child(4) {
    width: 15%;
    cursor: pointer;
}

.dark-mode .events-table th:nth-child(5),
.dark-mode .events-table td:nth-child(5) {
    width: 10%;
}

/* Адаптивные стили остаются без изменений */
@media screen and (max-width: 768px) {
    .dark-mode .events-table th,
    .dark-mode .events-table td {
        padding: 8px;
    }
}

/* Стили для кнопки "Load More" в тёмном режиме */
.dark-mode #load-more-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0 0 20px 0;
    background-color: #0056b3;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
}

.dark-mode #load-more-button:hover {
    background-color: #004080;
}

.dark-mode #load-more-button:focus {
    outline: none;
}

/* Настройка сетки для квадратов */
.grid {
    stroke-dasharray: none; /* Убираем пунктирные линии */
}

.header-module-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Логотип */
.logo {
    width: 15%;
    font-size: 24px;
    font-weight: bold;
}

/* Меню навигации */
.nav {
    width: 60%;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

.nav li {
    margin: 0 10px;
}

.nav a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

/* Элементы управления */
.user-controls {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.login-btn, .signup-btn {
    margin-left: 15px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

.login-btn {
    background-color: #f0f0f0;
}

.signup-btn {
    background-color: #17B169;
    color: #fff;
    margin-right: 20px; /* Отступ справа от кнопки */
    border-radius: 7px;
}

.login-btn:hover {
    background-color: #139c57;
}

.signup-btn:hover {
    background-color: #139c57;
}

.menu-icon {
    width: 30px; /* Ширина изображения */
    height: auto; /* Автоматическая высота */
    cursor: pointer; /* Курсор для кликабельности */
}

/* Hidden class for dropdown menu */
.hidden {
    display: none;
}

/* Dropdown menu styles */
.dropdown-menu {
    position: absolute;
    margin-top: 1%;
    margin-right: 0.5%;
    top: 45px;
    right: 10px;
    width: 12%;
    min-width: 200px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    padding: 15px;
}

/* Dropdown menu items */
.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
}

.menu-item-theme-mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
}

.menu-item img {
    width: 20px;
    height: 20px;
    margin-right: 7%;
    margin-left: 10%;
}

.menu-item:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

/* Menu header */
.menu-header {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Центрирование кнопки поддержки */
.menu-item.support {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали (если нужно) */
    height: 100%; /* Устанавливаем высоту, если нужно центрировать по вертикали */
    background-color: transparent !important; /* Прозрачный фон для кнопок */
}

/* Support button */
.menu-item.support button {
    background-color: #8b5cf6;
    width: 70%;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.menu-item.support button:hover {
    background-color: #7c3aed;
}

/* Стили для переключателя */
.switch {
    position: relative;
    display: inline-block;
    width: 60px; /* Увеличиваем ширину */
    height: 34px; /* Увеличиваем высоту */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.theme-mode-label {
    font-size: 16px;
    font-weight: 500;
    color: #333; /* Цвет текста */
    margin-right: 20px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Цвет фона выключенного состояния */
    border-radius: 34px; /* Закругленные края */
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px; /* Высота ползунка */
    width: 26px; /* Ширина ползунка */
    left: 4px; /* Отступ от левого края */
    bottom: 4px; /* Отступ от нижнего края */
    background-color: white; /* Цвет фона ползунка */
    border-radius: 50%; /* Круглая форма ползунка */
    transition: .4s;
}

/* Иконки */
.icon {
    position: absolute;
    width: 26px; /* Ширина иконок */
    height: 26px; /* Высота иконок */
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon.sun {
    left: 1px; /* Положение иконки солнца */
    bottom: 4px; /* Центрирование по вертикали */
}

.icon.moon {
    right: 3px; /* Положение иконки луны */
    bottom: 4px; /* Центрирование по вертикали */
}

/* Эффект переключения */
input:checked + .slider {
    background-color: #2196F3; /* Цвет фона включенного состояния */
}

input:checked + .slider:before {
    transform: translateX(26px); /* Перемещение ползунка вправо */
}

/* Скрытие иконок при переключении */
input:checked + .slider .icon.sun {
    display: none; /* Скрыть солнце при включенном режиме */
}

input:checked + .slider .icon.moon {
    display: flex; /* Показать луну при включенном режиме */
}

input:not(:checked) + .slider .icon.sun {
    display: flex; /* Показать солнце при выключенном режиме */
}

input:not(:checked) + .slider .icon.moon {
    display: none; /* Скрыть луну при выключенном режиме */
}


/* Main динамически занимает оставшееся пространство */
main {
    flex-grow: 1;  /* Заставляем main занимать всё доступное пространство */
    display: flex;
}

/* aside и section растягиваются на всю высоту */
aside {
    width: 20%;
    background-color: #FFFFFF;
    # border-right: 0.1px solid #dcdcdc; /* Тонкая граница справа */
    padding: 0.5%;
    display: flex;
    flex-direction: column; /* Вертикальное расположение */
    align-items: center;
}

.close-btn-modal-form {
    background-color: #FFFFFF;
    border: none;
    color: dark;
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
}

.close-btn-modal-form:hover {
    color: #a0a0a0;  /* Светло-голубой цвет текста при наведении */
}

.dark-mode .close-btn-modal-form {
    background-color: #2e3440;  /* Темный фон для кнопки в темной теме */
    border: none;
    color: #FFFFFF;  /* Светлый цвет текста для темной темы */
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
}

.dark-mode .close-btn-modal-form:hover {
    color: #a0a0a0;  /* Светло-голубой цвет текста при наведении */
}

section {
    width: 80%;
    background-color: #FFFFFF;
    padding: 5px; /* Отступы для содержимого */
    display: flex;
    flex-direction: column; /* Вертикальное расположение */
}


#additional-info {
    display: flex; /* Используем flexbox для выравнивания */
    justify-content: space-between; /* Распределение пространства между элементами */
    align-items: center; /* Вертикальное выравнивание */
    margin-top: 10px; /* Отступ сверху для визуального разделения */
    border: 1px solid #dcdcdc; /* Граница */
    height: 40px;
    border-radius: 10px;
}

#additional-info-data-container {
    display: flex; /* Используем flexbox для выравнивания и размещения иконки и поля ввода */
    align-items: center; /* Вертикальное выравнивание */
    height: 100%;
}

#additional-info-data-container i {
    margin-left: 1.5%; /* Отступ слева от иконки */
    margin-right: 1%; /* Отступ справа от иконки */
}

#additional-info-data-container input {
    border: 1px solid #444;
    border-radius: 5px; /* Скругленные углы */
    font-size: 15px;
    text-align: center; /* Центрирование текста */
    height: 70%; /* Высота на 100% */
    min-width: 150px; /* Минимальная ширина для поля ввода */
    background-color: #8b5cf6;
    color: #FFFFFF;
}

#additional-info-data-container input:hover {
    background-color: #7c3aed;
}

#additional-info-data-container input::placeholder {
    color: #FFFFFF; /* Цвет текста плейсхолдера (текста подсказки) */
}

#additional-info-button-apply {
    align-items: center;
    margin-left: 10px; /* Отступ слева от кнопки */
    background-color: #007BFF; /* Цвет фона кнопки */
    color: white; /* Цвет текста */
    font-size: 15px;
    border: none; /* Убираем рамку */
    border-radius: 5px; /* Скругляем углы кнопки */
    cursor: pointer; /* Указатель курсора при наведении */
    height: 85%;
    width: 7%;
    min-width: 90px; /* Минимальная ширина кнопки */
}

#additional-info-button-apply:hover {
    background-color: #0066FF; /* Темный оттенок для фона при наведении */
}

.additional-info-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #C0C0C0;
    color: #FFFFFF;
    border-radius: 5px;
    height: 30%;
    max-width: 100%; /* Запрещаем выход за границы родителя */
    white-space: nowrap; /* Предотвращает перенос текста */
    overflow: hidden; /* Обрезает лишний текст */
    margin-left: 20px;
}

.close-btn {
    background-color: #C0C0C0 !important;  /* Встановіть колір фону */
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
}

.close-btn:hover {
    color: #a0a0a0; /* Колір для ефекту при наведенні */
}

/* Стили для .additional-info-item в темном режиме */
body.dark-mode .additional-info-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #30314f; /* Темно-сірий фон */
    color: #FFFFFF; /* Білий текст */
    border-radius: 5px;
    height: 30%;
    margin-left: 20px;
}

/* Стили для кнопки закриття в темному режимі */
body.dark-mode .close-btn {
    background-color: #30314f !important;  /* Встановіть колір фону */
    border: none;
    color: #FFFFFF; /* Білий текст */
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
}

/* Зміна кольору для кнопки закриття при ховері в темному режимі */
body.dark-mode .close-btn:hover {
    color: #a0a0a0 /* Колір для ефекту при наведенні */
}

#clear-selection-panel {
    margin-left: 5px; /* Отступ слева */
}

/* Стили для #clear-selection-panel в темном режиме */
body.dark-mode #clear-selection-panel {
    background-color: #30314f; /* Темный фон в режиме темной темы */
    color: #FFFFFF; /* Белый текст */
}

/* Стили для кнопки очистки */
.clear-btn {
    background-color: transparent; /* Прозрачный фон */
    border: none; /* Без границ */
    cursor: pointer; /* Курсор при наведении */
    color: #FFFFFF;
}

.clear-btn img {
    height: 20px;
    width: 20px;
    filter: brightness(0) invert(1); /* Применяем фильтр, чтобы иконка стала белой */
}

#clear-selection-panel:hover {
    background-color: #a0a0a0;
}

/* Изменение цвета иконки для кнопки очистки в темном режиме */
body.dark-mode .clear-btn img {
    filter: brightness(0) invert(1); /* Применяем фильтр, чтобы иконка стала белой */
}

body.dark-mode #clear-selection-panel:hover {
    background-color: #3B4252; /* Чуть светлее при наведении */
}

/* Додаємо стилі для canvas */
#chart {
    border: 1px solid #dcdcdc; /* Додаємо синій контур */
    border-radius: 15px; /* Заокруглення кутів */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легке тінювання */
    padding: 10px; /* Відступ всередині */
    background-color: #fff; /* Задаємо білий фон для канваса */
}

/* Оформление осей графика */
.axis line,
.axis path {
    fill: none;
    shape-rendering: crispEdges; /* Четкое отображение линий */
}

.line {
    fill: none;
    stroke: steelblue; /* Цвет линии */
    stroke-width: 2; /* Ширина линии */
}

.open-modal-btn {
    display: flex;
    align-items: center;
    height: 40px;
    width: 90%;
    font-size: 100%;
    cursor: pointer;
    border: 0.1px solid #dcdcdc;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 6%;
}

.open-modal-btn img {
    height: 1.9em;
    width: 1.9em;
    margin-left: 1%;
}

.open-modal-btn span {
    margin-left: 3%;
}

.open-modal-btn:hover {
    background-color: #f1f1f1;
}

/* Стиль для модального окна */
#modal-form {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 45%;
    left: 50%;
    width: 20%;
    min-width: 300px;
    height: 370px; /* Ограничиваем высоту окна */
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 7px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Не позволяйте содержимому выходить за пределы формы */
}

.h2-modal-form-block {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    background-color: #FFFFFF;
    border-bottom: 0.1px solid #dcdcdc;
}

/* Контентная часть с прокруткой */
.content-modal-form-block {
    flex-grow: 1;
    background-color: white;
    overflow-y: auto; /* Включаем вертикальную прокрутку */
    padding-top: 5%;
    padding: 3%;
    max-height: 100%; /* Устанавливаем максимальную высоту */
    box-sizing: border-box; /* Включаем padding в расчёт высоты */
}

/* Стили для списка криптовалют */
.crypto-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Стили для каждого элемента списка */
.crypto-item {
    padding: 10px;
    cursor: pointer;
    background-color: white;
    color: black;
    text-align: left;
}

/* Стили для значков криптовалют */
.crypto-icon {
    width: 20px; /* Ширина значка */
    height: 20px; /* Высота значка */
    margin-right: 10px; /* Отступ справа от значка */
    vertical-align: middle; /* Центрирование по вертикали */
}


.crypto-item:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

/* Задний фон при открытом модальном окне */
#modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Кнопка закрытия */
.close-btn {
    background-color: #FFFFFF;
    color: dark;
    border: none;
    cursor: pointer;
}

#table-wrapper {
    padding: 0 5px;  /* Отступы справа и слева по 5 пикселей */
}

#table-container {
    width: 100%;     /* Убедимся, что контейнер таблицы занимает всю ширину внутри обертки */
}

/* Загальний стиль для таблиці */
.events-table {
    width: 100%;
    border-collapse: collapse;
    margin: 5px 0;
    font-family: Arial, sans-serif;
}

.events-table th, .events-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.events-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.events-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.events-table tr:hover {
    background-color: #f1f1f1;
}

.events-table td a {
    color: #0066cc;
    text-decoration: none;
}

.events-table td a:hover {
    text-decoration: underline;
}

.events-table tbody tr.selected {
    background-color: #d3d3d3; /* Светло-серый цвет */
}

.dark-mode .events-table tbody tr.selected {
    background-color: #3B4252; /* Темно-серый цвет для темной темы */
    color: #fff; /* Белый текст */
}

/* Установка ширины колонок в процентах */
.events-table th:nth-child(1), .events-table td:nth-child(1) {
    width: 5%;  /* Ширина для колонки с ID */
}

.events-table th:nth-child(2), .events-table td:nth-child(2) {
    width: 55%;  /* Ширина для колонки с названием события (title) */
}

.events-table th:nth-child(3), .events-table td:nth-child(3) {
    width: 15%;  /* Ширина для колонки с категорией */
}

.events-table th:nth-child(4), .events-table td:nth-child(4) {
    width: 15%;  /* Ширина для колонки с датой */
    cursor: pointer;  /* Меняет курсор на "pointer" при наведении */
}

.events-table th:nth-child(5), .events-table td:nth-child(5) {
    width: 10%;  /* Ширина для колонки с URL */
}

/* Додаткові стилі для адаптивності */
@media screen and (max-width: 768px) {
    .events-table th, .events-table td {
        padding: 8px;
    }
}

#load-more-button {
    display: block;              /* Делаем кнопку блочным элементом, чтобы она занимала всю ширину */
    width: 100%;                 /* Устанавливаем ширину на 100% от контейнера */
    padding: 10px;               /* Отступы для кнопки */
    margin: 0 0 20px 0;          /* Убираем лишние отступы сверху и слева/справа, добавляем отступ снизу */
    background-color: #007BFF;   /* Цвет фона кнопки */
    color: #FFFFFF;                /* Цвет текста на кнопке */
    font-size: 16px;             /* Размер шрифта */
    border: none;                /* Убираем рамку */
    cursor: pointer;            /* Курсор при наведении */
    text-align: center;          /* Текст по центру */
    border-radius: 5px;          /* Закругленные углы */
    box-sizing: border-box;      /* Учитывать padding в расчете ширины */
}

#load-more-button:hover {
    background-color: #0066FF;   /* Цвет фона при наведении */
}

#load-more-button:focus {
    outline: none;               /* Убираем обводку при фокусе */
}











