<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="/static/css/auth.css">
    <script src="/static/js/auth_register.js" defer></script>
</head>
<body>
    <div class="login-container">
        <h2>Welcome back</h2>

        <button class="login-btn metamask">🦊 Sign up with Metamask</button>
        <button class="login-btn google">🌐 Log in with Google</button>
        <button class="login-btn twitter">🐦 Log in with Twitter</button>

        <p>or use</p>

        <form method="POST" class="email-create-account-form">
            <div class="input-container">
                <input type="text" placeholder="Your username" required>
            </div>
            <div class="input-container">
                <input type="email" placeholder="Your email" required>
            </div>
            <div class="input-container">
                <input type="password" placeholder="Your password" required>
            </div>
            <button type="submit" class="login-btn email-login">Create</button>
        </form>

        <p>Do you have an account? <a href="/auth-form/login">Log in</a></p>
    </div>
</body>
</html>